b.out 5
test 10
[Sun Nov  8 15:24:27 2015] Info: No 'test' processes found.
[Sun Nov  8 15:25:20 2015] Info: Initializing monitoring of process 'b.out' (PID 15851).
[Sun Nov  8 15:27:25 2015] Info: No 'test' processes found.
[Sun Nov  8 15:27:25 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:27:25 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:27:25 2015] Info: Initializing monitoring of process 'b.out' (PID 15851).
[Sun Nov  8 15:28:07 2015] Info: Exiting. 0 process(es) killed.

[Sun Nov  8 15:28:32 2015] Info: No 'test' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:28:32 2015] Info: No '
' processes found.
[Sun Nov  8 15:28:32 2015] Info: Initializing monitoring of process 'b.out' (PID 15851).
[Sun Nov  8 15:30:12 2015] Info: Exiting. 0 process(es) killed.

[Sun Nov  8 15:30:38 2015] Info: No 'test' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '
' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No ''' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:30:38 2015] Info: No '
' processes found.
[Sun Nov  8 15:30:38 2015] Info: Initializing monitoring of process 'b.out' (PID 15851).
[Sun Nov  8 15:33:28 2015] Info: No 'test' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '
' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No ''' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '
' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No ''' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: No ''' processes found.
[Sun Nov  8 15:33:28 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:33:28 2015] Info: Initializing monitoring of process 'b.out' (PID 15851).
[Sun Nov  8 15:35:14 2015] Info: Exiting. 0 process(es) killed.

[Sun Nov  8 15:35:46 2015] Info: No 'test' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '
' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No ''' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '
' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No ''' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No ''' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No ''' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No ''' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '[Sun' processes found.
[Sun Nov  8 15:35:46 2015] Info: No '
' processes found.
[Sun Nov  8 15:35:46 2015] Info: Initializing monitoring of process 'b.out' (PID 15851).
